.container {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content:center ;
  }
.card{
    margin:3% 3% !important;

}
.infected{
    border-bottom: 10px solid rgb(0,0,255);
}
.recovered{
    border-bottom: 10px solid rgb(0,255,0);
}
.deaths{
    border-bottom: 10px solid rgb(255,0,0);
}
@media (max-width:778px)
{
  .card{
    margin: 2% 0 !important;
  }
  }